In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("sales_train.csv")
items = pd.read_csv('items.csv')

In [3]:
sales = data.join(items.set_index('item_id'), on='item_id')

In [4]:
sales.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_name,item_category_id
0,02.01.2013,0,59,22154,999.00,1.0,ЯВЛЕНИЕ 2012 (BD),37
1,03.01.2013,0,25,2552,899.00,1.0,DEEP PURPLE The House Of Blue Light LP,58
2,05.01.2013,0,25,2552,899.00,-1.0,DEEP PURPLE The House Of Blue Light LP,58
3,06.01.2013,0,25,2554,1709.05,1.0,DEEP PURPLE Who Do You Think We Are LP,58
4,15.01.2013,0,25,2555,1099.00,1.0,DEEP PURPLE 30 Very Best Of 2CD (Фирм.),56

In [14]:
item_set = set(items['item_id'].unique())
item_cat_set = set(items['item_category_id'].unique())
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [19]:
item_cat_dict = dict(zip(items.item_id, items.item_category_id))
# grp = sales.groupby(['item_category_id','date_block_num'])['item_cnt_day'].mean()

In [ ]:
# sales['item_id'].nunique()

In [ ]:
# mat=sales[['item_category_id','shop_id','item_cnt_day']].groupby(['item_category_id','shop_id']).count()
# counts = np.zeros((84,60))
# mat=mat.reset_index()
# print(len(mat))
# counts = np.zeros((84,60),dtype='int')
# for i in range(len(mat)):
# #     print(row)
#     item_id,shop_id,count = mat.loc[i]
# #     print(item_id,shop_id,count)
#     counts[item_id][shop_id]=int(count)
# for row in counts:
#     print(row)

# Sampling

In [21]:
df = sales.sample(frac=0.05, replace=True)

In [22]:
for column in ['date_block_num','item_category_id','shop_id']:
    df = pd.concat([df,pd.get_dummies(df[column],prefix=column.split("_")[0])],axis=1)
    df.drop([column],axis=1, inplace=True)

In [23]:
df.drop(['item_name','item_id','date'],axis=1, inplace=True)
df.head()

,item_price,item_cnt_day,date_0,date_1,date_2,date_3,date_4,date_5,date_6,date_7,...,shop_50,shop_51,shop_52,shop_53,shop_54,shop_55,shop_56,shop_57,shop_58,shop_59
1154528,799.0,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2653640,349.0,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1854440,1449.0,1.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
425560,149.0,1.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
235502,28.0,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Feature Selection

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(df.loc[:, df.columns != 'item_cnt_day'],df['item_cnt_day'])

In [ ]:
im= model.feature_importances_

In [ ]:
print(im[0],sum(im[1:35]),sum(im[35:35+84]),sum(im[35+84:]))

# Viz

In [20]:
df = sales.sample(frac=0.2, replace=True)

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
% matplotlib inline

In [ ]:
_df = df[['item_price','item_cnt_day','date_block_num','shop_id']].loc[(df['item_price']>0) & (df['item_price']<100000) & (df['item_cnt_day']<50)]
# _df.plot.scatter(x='item_cnt_day',y='item_price')

In [ ]:
price = _df['item_price']

In [ ]:
len(price),_df.count()

In [ ]:
plt.scatter(price,_df['item_cnt_day'],s=0.1)

In [ ]:
plt.scatter(_df['shop_id'],_df['item_cnt_day'],s=0.4)